@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

#root {
	height: 100%;
	width: 100%;
}
